@model HearthstoneDraft.Models.CardBase.Card

<div class="row">
    <div class="col-md-2">@Model.Cost</div>
</div>
<div class="row">
    @if (Model.Rarity == HearthstoneDraft.Enums.Rarity.Rare)
    {
    <div class="col-md-12" style="color:blue">@Model.Name</div>
    }
    else if (Model.Rarity == HearthstoneDraft.Enums.Rarity.Epic)
    {
    <div class="col-md-12" style="color:purple">@Model.Name</div>
    }
    else if (Model.Rarity == HearthstoneDraft.Enums.Rarity.Legendary)
    {
    <div class="col-md-12" style="color:orange">@Model.Name</div>
    }
    else
    {
    <div class="col-md-12" style="color:darkgrey">@Model.Name</div>
    }
</div>
<div class="row">
</div>
<div class="row" style="height:120px; width:195px">
    <div class="col-md-12 clearfix">@Html.Raw(Model.Text)</div>
</div>
<div class="row">
    @if (Model.Type == HearthstoneDraft.Enums.Cardtype.Weapon)
    {
        <div class="col-md-2">@Model.Attack</div>
        <div class="col-md-2 col-md-offset-7">@Model.Health</div>
    }
    else if (Model.Type == HearthstoneDraft.Enums.Cardtype.Minion)
    {
        <div class="col-md-2">@Model.Attack</div>
        <div class="col-md-2 col-md-offset-7">@Model.Health</div>
    }
    else
    {
        <div class="col-md-12">-</div>
    }
</div>

